.App {
  text-align: center;
  margin: 50px;
}
.ul{
  margin: 30px;
}
table {
  border-collapse:separate; 
  border-spacing: 0 1em;
  width: 100%;
  table-layout: fixed;
  border-style: solid;
  border-width: 00.01rem;
  border-color: darkslateblue;
}

.longColumn{
  width: 90%;
}

.tableRow{
  border-style: solid;
  border-width: 00.01rem;
  border-color: darkslateblue;
}
tr {
  border-style: solid white 30px; /* change "white" to your background color */
}

.show-grid{
  border-color: darkblue;
  border-width: 0.01rem;
  border-style: solid;
  margin-top:10px;
  font-size: larger;
  padding:3px;
  align-items: left;
  text-align: left;
  width: 80%;
}

.btn-info{
  width: 100%;
  background-color:blue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.delete-button{
  align-items:flex-end;
}

body{
  background-color: lightblue;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.h1{
  font-size: 20px;
  color:black;
}

.form-control{
  background-color: aquamarine;
  position: relative;
  justify-content: center;
}

.Select{
  background-color: aquamarine;
}